
/* #searchbox {
    top: 50px !important;
    width: 336px;
    left: 0;
    right: 0;
    margin: auto;
    height: 18px;
    font-size: 14px;
} */
/* #searchbox {
    border-color: #bbc0c4;
    background-color: #FFF;
    box-shadow: none;
    color: #3b4045;
    padding-left: 32px;
    box-sizing: border-box;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: .6em .7em;
    border: 1px solid #bbc0c4;
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(255,255,255,0);
    font-size: 13px;
    line-height: 1.15384615;
}
#searchbox:focus {
    border-color: #66bfff;
    box-shadow: 0 0 0 4px rgba(0,149,255,0.15);
}
.svg-search-icon {
    right: auto;
    left: .7em;
    color: #bbc0c4;
    vertical-align: bottom;
} */