#google-map-container #google-map {
  height: 100vh;
}

#google-map-container #searchbox {
  top: 10px !important;
  width: 336px;
  left: 0;
  right: 0;
  margin: auto;
  height: 18px;
  font-size: 14px;
}

.header {
  background-color: rgb(48, 48, 48);
}

.logo {
  height: 50px;
  padding: 15px 0;
}

.name {
  font-size: 24px;
  color: white;
  align-self: center
}